{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center ">
    <div class="circular-image-container">
      <img class="circular-image" src=" {% static 'images/im.jpg' %}" alt="Image">
    </div>
  </div>

  <div class="col-12 text-center mt-3">
    <h4 class="title"> Hi, my name is </h4>
      <div class="name">
        <h1> SACHIN KUMAR YADAV </h1>
        <h1> I am SoftWare Engineer </h1>
      </div>
  </div>

  <div class="col-12 text-center mt-3">
    <div class="col-12 d-flex justify-content-center align-items-center ">
        <a href="https://www.linkedin.com/in/sachin-kumar-yadav-698b97201" target="_blank" class="ms-3">
          <img src="{% static 'images/linkendin.png' %}" alt="linkedin" width="50" height="50" class="social_links">
        </a>

        <a href="https://www.youtube.com/@s.k.y.innovative" target="_blank" class="ms-3">
          <img src="{% static 'images/you.png' %}" alt="youtube" width="50" height="50" class="social_links">
        </a>

        <a href="https://github.com/sky-sachin7" target="_blank" class="ms-3">
          <img src="{% static 'images/github.jpg' %}" alt="github" width="50" height="50" class="social_links">
        </a>
      </div>
  </div>
</div>


{% endblock content1 %}
